<!-- Razor component for the page accessible at "/SamplePages/Basics"-->
@page "/SamplePages/Basics"

<!-- PageTitle component to set the page title-->
<PageTitle>Review page basics</PageTitle>

<!-- Main heading of the page -->


<h3>Introduction to Blazor Page (Review)</h3>

